.App {
  text-align: center;
  padding-top: 20px;
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/Home\ \(1\).jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.container {
  text-align: center;
  padding: 20px;
}

.header {
  font-family: "Young Serif";
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  color: #fffbf6;
}

.recipe-container {
  height: 400px;
  margin-top: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.recipe-title {
  font-size: 1.8rem;
  color: #fffbf6;
  margin-bottom: 20px;
}

.recipe-image {
  width: 350px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.button-container-base {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.button-container {
  margin: 0 15vw;
}

.button-container-two-prompts {
  margin: 0 25vw;
}

.animated-button {
  background-color: #fffbf6;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
  box-shadow: 10px -6px 15px -11px rgba(0, 0, 0, 0.75);
}

.animated-button:hover {
  background-color: #eee;
  box-shadow: 10px -6px 20px -10px rgba(0, 0, 0, 0.5);
}

.animated-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 60px auto 0 auto;
  flex-wrap: wrap;
  gap: 0.2rem;
  padding-left: 30px;
}

.animated-text {
  font-size: 8rem;
  color: #fffbf6;
  font-family: "Irish Grover", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.promptContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.promptSubheading {
  font-size: 40px;
  color: #fffbf6;
  font-family: "Irish Grover";
  font-weight: 400;
  font-style: normal;
  width: 50vw;
  text-align: center;
}


h1{
  font-size: 8rem;
  display: flex;
  color: #fffbf6;
  font-family: "Irish Grover";
  font-weight: 400;
  font-style: normal;
  margin-top: 60px;
}

h2 {
  font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 30px;
    color: #fffbf6;
    font-weight: 400;
    margin: 100px 0 0 0;
}

h3 {
  font-family: "Irish Grover";
  font-size: 30px;
}


/* modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fffbf6;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.animated-selection {
  color: #fffbf6;
  font-size: 25px;
  cursor: pointer;
  font-family: "Irish Grover", cursive;
  margin-top: 50px;
  font-weight: 400;
  width: 20vw;
  text-align: center;
  transition: color 0.3s ease;
}

.animated-selection:hover {
  color: #fffbf6b2;
}

.toggleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 35vw;
}

.toggle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding-bottom: 20px;
}

.toggle-label {
  font-size: 18px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: regular;
}

.toggle-button {
  width: 60px;
  height: 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.toggle-button-text {
  padding: 0 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #fff;
}
